/* 🎨 Variáveis globais */
:root {
  --cor-de-fundo: #0d1e18;
  --cor-principal: #855247;
  --cor-secundaria: #ffffff;
  --cor-destaque: #1a271a;
  --cor-texto: #d7f9ff;
  --vermelho: #d5d4c7;
  --preto: #000000;
}

/* 🌆 Fundo principal */
.background {
  background-color: var(--cor-de-fundo);
}

/* 🖋️ Fontes */
body {
  font-family: 'Spectral SC', serif !important;
  background-color: var(--cor-de-fundo);
  color: var(--cor-texto);
  margin: 0;
  padding: 0;
}

.titulo, .subtitulo {
  font-family: 'UnifrakturCook', cursive !important;
  text-shadow: 0 0 8px rgb(0, 0, 0);
}

/* 🔺 Cabeçalho */
.cabecalho {
  background-color: var(--vermelho);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.caixa {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.img-cabecalho {
  width: 150px;
}

/* 🔗 Navegação */
.nav {
  position: absolute;
  top: 20px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin: 0 15px;
}

.nav a {
  text-transform: uppercase;
  color: var(--branco);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.nav a:hover {
  color: var(--preto);
  text-decoration: underline;
}

/* 📜 Textos principais */
.titulo {
  text-align: center;
  font-size: 35px;
  color: var(--branco);
  margin-top: 40px;
}

.subtitulo {
  text-align: center;
  font-size: 25px;
  color: var(--branco);
}

.paragrafo-texto
